<!DOCTYPE html>
<html>
<head>
  <title>Propancarte</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
  <%= yield %>
  <%= render "shared/footer.html.erb" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>

</html>

